<!DOCTYPE html>
<html>
<head>

	<!-- Link Swiper's CSS -->
	<link rel="stylesheet" href="../static/css/swiper.min.css">
	<script src="../static/js/lib/swiper.min.js"></script>

	<style>

		.swiper-container {
			width: 100%;
			height: auto;
		}
		.swiper-slide {
			text-align: center;
			font-size: 18px;

			/* Center slide text vertically */
			display: -webkit-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			-webkit-align-items: center;
			align-items: center;
		}
		img{
			width: 100%;
			cursor: pointer;
		}
		.news_title{
			cursor: pointer;
		}
	</style>
	<script>
		function changeActiveNews(e){
			$('.news-ul > li').removeClass('active');
			$(e).addClass('active');
		};
	</script>
</head>
<body ng-app="homeApp">
<div class="gg_box">
	<div class="container qz_content" style="padding:0px; margin-top:0px;">
		<p ng-bind="helpTop3.title"></p>
	</div>
</div>

<!-- Swiper -->
<div class="swiper-container">
	<div class="swiper-wrapper">
		<div class="swiper-slide"><img ng-src="{{bannerImgs[0]}}"/></div>
		<div class="swiper-slide"><img ng-src="{{bannerImgs[1]}}" /></div>
	</div>
	<!-- Add Pagination -->
	<div class="swiper-pagination"></div>
</div>

<div class="container qz_content">
			<div class="row">
				<div class="news_box col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="thumbnail" id="newsTab">
						<div class="news_title">
							<ul class="nav nav-tabs news-ul">
								<li role="presentation" class="active"><a ng-click="changeNews(1)" onclick="changeActiveNews(this)">新闻资讯</a></li>
								<li role="presentation"><a  ng-click="changeNews(2)"  onclick="changeActiveNews(this)">媒体报道</a></li>
							</ul>
						</div>

						<div class="tab-content">
							<div class="tab-pane fade in active" id="news1" >
								<div class="row">
									<div class="news_box col-xs-12 col-sm-12 col-md-6 col-lg-6">
										<!------------------------img------------------------------->
										<div class="img_box_big">
											<img ng-src={{fengmianUrl}} alt="..." ui-sref="news">
										</div>
									</div>
									<!------------------------title---------------------------->
									<div class="news_box col-xs-12 col-sm-12 col-md-6 col-lg-6" style="overflow: hidden; height: 250px;">
										<div class="home_news" >
											<a ng-repeat="x in newsShow" ng-click='newsContent($index)'>
												<span class="news_label" ng-bind="x.title" ></span>
											</a>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<!--紧急筹款-->
			<div class="row">
				<div class="news_box col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="title_box">
						<div class="title">紧急筹款</div>
						<span class="more_btn"  ng-click="clickOffer(1)">更多</span>
					</div>
				</div>
				<div class="news_box col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<!--------------------------------------------------------置顶---------------------------------------------------->
					<div class="thumbnail">
						<div class="row">
							<div class="news_box col-xs-12 col-sm-12 col-md-6 col-lg-6">
								<div class="img_box_big">
									<img ng-src="{{helpTop1.fileurl}}" ui-sref="project" ng-click="dt(helpTop1.id)" alt="图片"/>
								</div>
							</div>

							<div class="news_box col-xs-12 col-sm-12 col-md-6 col-lg-6">
								<div class="progress">
									<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{(helpTop1.needMoney/helpTop1.targetMoney)*100}}%">
										<span class="wcb">{{(helpTop1.moneyOff/helpTop1.money)*100 | number:1}}%</span>
									</div>
								</div>

								<div class="caption">
									<h3 ui-sref="project" ng-click="dt(helpTop1.id)" ng-bind="helpTop1.title"></h3>
									<div class="caption_p">
										<p>
											<span ng-bind="helpTop1.childName"></span>，
											<span ng-if="helpTop1.sex==1">男</span>
											<span ng-if="helpTop1.sex==2">女</span>，
											<span ng-bind="helpTop1.age"></span>岁，
											<span ng-bind="helpTop1.citynum"></span>
										</p>

										<p>目标： <span class="orange_text" ng-bind="helpTop1.money"></span>元</p>
										<p>还需： <span class="orange_text" ng-bind="helpTop1.moneyNeed"></span>元</p>
										<p>累计捐款 ：<span ng-bind="helpTop1.total"></span>人次</p>
										<span class="fqr_btn">
							        		发起人 ：<span ng-bind="helpTop1.personName"></span>
							        		(总共发起<span ng-bind="helpTop1.initiateNum"></span>个项目)
							        	</span>
									</div>
									<a ui-sref="contribute" class="btn btn-success" role="button"  ng-click='jk(helpTop1.id)'>我要捐款</a> 
								</div>
							</div>
						</div>
					</div>
				</div>
				<!----------------------------------------------------紧急筹款---------------------------------------->
				<div class="news_box col-xs-12 col-sm-12 col-md-4 col-lg-4" ng-repeat="x in choukuanShow">
					<div class="thumbnail">
						<div class="img_box">
							<img ng-src="{{x.fileurl}}" ui-sref="project" ng-click="dt(x.id)" >
						</div>

						<div class="progress">
							<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{(x.needMoney/x.targetMoney)*100}}%">
								<span class="wcb">{{(x.moneyOff/x.money)*100 | number:1}}%</span>
							</div>
						</div>

						<div class="caption">
							<h3 ui-sref="project" ng-bind="x.title" ng-click="dt(x.id)"></h3>
							<div class="caption_p">
								<p>
									<span ng-bind="x.childName"></span>，
									<span ng-if="x.sex==1">男</span>
									<span ng-if="x.sex==2">女</span>,
									<span ng-bind="x.age"></span>岁，
									<span ng-bind="x.cityNum"></span>
								</p>
								<p>目标： <span class="orange_text" ng-bind="x.money"></span>元</p>
								<p>还需： <span class="orange_text" ng-bind="x.moneyNeed"></span>元</p>
								<p>累计捐款 ：<span ng-bind="x.total"></span>人次</p>
								<a class="fqr_btn">
									发起人 ：<span ng-bind="x.personName"></span>
									(总共发起<span ng-bind="x.initiateNum"></span>个项目)
								</a>
							</div>
							<a ui-sref="contribute" class="btn btn-success" role="button"  ng-click='jk(x.id)'>我要捐款</a>
							</div>
					</div>

				</div>
			</div>

			<!--将爱汇聚-->
			<div class="row">
				<div class="news_box col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="title_box">
						<div class="title">将爱汇聚</div>
						<span class="more_btn" ui-sref="offer" onclick="changeActive('#btn_offer')" ng-click="clickOffer(2)">更多</span>
					</div>
				</div>


				<div class="news_box col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="thumbnail">
						<div class="row">
							<div class="news_box col-xs-12 col-sm-12 col-md-6 col-lg-6">
								<div class="img_box_big">
									<img ng-src="{{helpTop2.fileurl}}" ng-click="dt(helpTop2.id)" ui-sref="project" alt="图片"/>
								</div>
							</div>

							<div class="news_box col-xs-12 col-sm-12 col-md-6 col-lg-6">
								<div class="progress">
									<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{(helpTop2.needMoney/helpTop2.targetMoney)*100}}%">
										<span class="wcb">{{(helpTop2.moneyOff/helpTop2.money)*100 | number:1}}%</span>
									</div>
								</div>

								<div class="caption">
									<h3 ui-sref="project" ng-click="dt(helpTop2.id)" ng-bind="helpTop2.title"></h3>
									<div class="caption_p">
										<p>目标： <span class="orange_text" ng-bind="helpTop2.money"></span>元</p>
										<p>还需： <span class="orange_text" ng-bind="helpTop2.moneyNeed"></span>元</p>
										<p>累计捐款 ：<span ng-bind="helpTop2.total"></span>人次</p>
										<span class="fqr_btn">
							        		发起人 ：<span ng-bind="helpTop2.personName"></span>
							        		(总共发起<span ng-bind="helpTop2.initiateNum"></span>个项目)
							        	</span>
									</div>
									<a ui-sref="contribute" class="btn btn-success" role="button"  ng-click='jk(helpTop2.id)'>我要捐款</a>
									</div>
							</div>
						</div>
					</div>
				</div>

				<div class="news_box col-xs-12 col-sm-12 col-md-4 col-lg-4" ng-repeat="x in huijuShow">
					<div class="thumbnail">
						<div class="img_box">
							<img ng-src="{{x.fileurl}}" ng-click="dt(x.id)" ui-sref="project">
						</div>

						<div class="progress">
							<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{(x.needMoney/x.targetMoney)*100}}%">
								<span class="wcb">{{(x.moneyOff/x.money)*100 | number:1}}%</span>
							</div>
						</div>

						<div class="caption">
							<h3 ui-sref="project" ng-click="dt(x.id)" ng-bind="x.title"></h3>
							<div class="caption_p">
								<p>目标： <span class="orange_text" ng-bind="x.money"></span>元</p>
								<p>还需： <span class="orange_text" ng-bind="x.moneyNeed"></span>元</p>
								<p>累计捐款 ：<span ng-bind="x.total"></span>人次</p>
								<a class="fqr_btn">
									发起人 ：<span ng-bind="x.personName"></span>
									(总共发起<span ng-bind="x.initiateNum"></span>个项目)
								</a>
							</div>
							<a ui-sref="contribute" class="btn btn-success" role="button"  ng-click='jk(x.id)'>我要捐款</a>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	$(document).ready(function () {

		var swiper = new Swiper('.swiper-container', {
			pagination: '.swiper-pagination',
			paginationClickable: true,
			spaceBetween: 0,
			centeredSlides: true,
			autoplay: 2500,
			autoplayDisableOnInteraction: false,
			effect: 'fade',
			loop: true

		});

		//初始化高度
		var imgw = $(".img_box").width();//容器宽度
		$(".img_box > img").css("height", imgw*0.6+"px");

		var imgw_big = $(".img_box_big").width();//容器宽度
		$(".img_box_big > img").css("height", imgw_big*0.6+"px");


		//当文档窗口发生改变时 触发
		$(window).resize(function(){
			var imgw = $(".img_box").width();//容器宽度
			$(".img_box > img").css("height", imgw*0.6+"px");

			var imgw_big = $(".img_box_big").width();//容器宽度
			$(".img_box_big > img").css("height", imgw_big*0.6+"px");
		});


	});
	function changeActive(e) {
		$('.qz_content > a').removeClass('active');
		$(e).addClass('active');
	};
	//tab相关
	$('#newsTab li').click(function (e) {
		e.preventDefault() //组织a连接的原跳转行为，否则会和路由冲突
		$(this).tab('show')
	});
</script>

</body>
</html>
