<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
		<title></title>

		<!-- 新 Bootstrap 核心 CSS 文件 -->
		<link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css">
		<link href="../static/css/dashboard.css" rel="stylesheet">
		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="../static/js/lib/jquery/jquery-2.1.4.min.js"></script>
		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="../static/js/lib/bootstrap/bootstrap.min.js"></script>
		<!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
		<!--[if lt IE 9]>
	<script src="../static/js/lib/bootstrap/html5.min.js"></script>
	<script src="../static/js/lib/bootstrap/respond.min.js"></script>
<![endif]-->

		<!-- 自定义样式 -->
		<link rel="stylesheet" href="../static/css/systemStyle.css">

		<!-- 路由相关js -->
		<script type="text/javascript" src="../static/js/lib/angular/angular.min.js"></script>
		<script type="text/javascript" src="../static/js/lib/angular/angular-animate 1.4.min.js"></script>
		<script type="text/javascript" src="../static/js/lib/angular/angular-ui-router v1.0.0-alpha.5.min.js"></script>
		<script type="text/javascript" src="../static/js/lib/angular/ui-bootstrap/ui-bootstrap.min.js"></script>
		<!-- 国际化相关js -->
		<script type="text/javascript" src="../static/js/lib/angular/angular-translate.min.js"></script>
		<script type="text/javascript" src="../static/js/lib/angular/angular-cookies.min.js"></script>
		<!-- 国际化相关js -->

		<script type="text/javascript" src="../static/js/lib/angular/tm.pagination.js"></script>
		<!--分页?-->
		<link type="text/css" rel="stylesheet" href="../static/css/views/system/page-list.css" />
		<!--分页样式?-->

		<!-- 分页 -->
		<script type="text/javascript" src="../static/js/lib/angular/ui-bootstrap/ui-bootstrap-tpls 0.14.3.min.js"></script>

		<!-- 校验必填项 -->
		<script type="text/javascript" src="../static/js/lib/global.js"></script>
		
		<!-- 页面js -->
		<script type="text/javascript" src="../static/js/system/002_systemLogin.js"></script>
		
	</head>

	<body class="mlogin_body" ng-app="systemLoginApp">
		<div class="mlogin_box" ng-controller="systemLoginController">
			<form class="form-signin">
				<h2 class="login_title">后台登录</h2>
				<input ng-model="loginItems.username" type="text" id="inputEmail" class="form-control login_inputm" placeholder="用户名">
				<input ng-model="loginItems.password" type="password" id="inputPassword" class="form-control login_inputm" placeholder="密码">
				<input class="btn btn-lg btn-primary btn-block" type="button" ng-click="subLogin()" value="登录" style="width: 90%;" />
				<div class="ts_box"><apan ng-bind="tsText"></span></div>
			</form>
		</div>
	</body>

</html>